{
    "type": "enum",
    "name": "{{ enum.name }}",
    "module": "{{ enum.module|example_module }}",
    "values": [
        {% for value in enum.values %}
        "{{ value.name }}"{% if not loop.last %}, {% endif %}

        {% endfor %}
    ]
}
