{
    "type": "interface",
    "name": "{{ interface.name }}",
    "module": "{{ interface.module|example_module }}",
{% if interface.exc %}
    "exc": "{{ interface.exc|example_ref }}",
{% else %}
    "exc": null,
{% endif %}

    "methods": [
    {% for method in interface.methods %}
        {
            "name": "{{ method.name }}",
            "result": "{{ method.result|example_ref }}",
            {% if method.exc %}
            "exc": "{{ method.exc|example_ref }}",
            {% else %}
            "exc": null,
            {% endif %}
            "is_post": {{ method.is_post|example_bool }},
            "args": [
            {% for arg in method.args %}
                {
                    "name": "{{ arg.name }}",
                    "type": "{{ arg.type|example_ref }}",
                    "is_query": {{ arg.is_query|example_bool }},
                    "is_post": {{ arg.is_post|example_bool }}
                }{% if not loop.last %},{% endif %}

            {% endfor %}
            ]
        }{% if not loop.last %},{% endif %}

    {% endfor %}
    ]
}
