{
    "type": "module",
    "name": "{{ module.name }}",
    "imported_modules": [
    {% for imported_module in module.imported_modules %}
        "{{ imported_module.name }}"{% if not loop.last %},{% endif %}

    {% endfor %}
    ],

    "definitions": [
    {% for definition in module.definitions %}
        "{{ definition.name }}"{% if not loop.last %},{% endif %}

    {% endfor %}
    ]
}
